main {
  display: flex;
  background-color: blueviolet;
  flex-direction: column;
}

.fila {
  display: flex;
}

.fila > div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  flex: 1;
}
.impar > div:nth-child(2n) {
  background-color: white;
}
.impar > div:nth-child(2n + 1) {
  background-color: black;
}
.par > div:nth-child(2n) {
  background-color: black;
}
.par > div:nth-child(2n + 1) {
  background-color: white;
}