html {
  font-family: sans-serif;
}
body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  border: 1px dotted black;
  padding: 0.9em;
}
form > p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
form label {
  display: inline-block;
  width: 10em;
}
