body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: white
}
main {
    box-sizing: border-box;
    border: 5px dotted black;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
}
main > div:first-child {
    background-color: #adcadc;
    width: 100px;
    height: 200px;
}
main > div:nth-child(2) {
    background-color: #cdacda;
    width: 200px;
    height: 150px;
}
main > div:nth-child(3) {
    background-color: #bcdbcd;
    position: relative;
    width: 300px;
    height: 220px
}
main > div:nth-child(4) {
    background-color: #afcafc;
    padding: .50em;
    position: fixed;
    top: 0;
    right:0;
}
main > div:last-child {
    background-color: #edcedc;
    width: 150px;
    height: 150px;
    position: relative;
    top: -160px;
    left: 200px;
}
main > div > div:first-child {
    position: absolute;
    background-color: #abcabc;
    border: 4px dotted #0a6348;
    width: 175px;
    left: 10px;
    top: 50px;
}