body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
section {
    margin-left: 1.2em;
}
ul {
    list-style: square;    
}
a {
    font-size: 1rem;
    color: black;
    text-decoration: none;
}