main {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div {
  background-color: #eee;
  font-family: "Times New Roman", Times, serif;
  border: 1px solid black;
  width: 50em;
}
div > p {
  margin: 0.9em 0.5em;
}
